<section class="text-box">
    <h1>ASP.NET Core</h1>
    <h3>Testing WebSockets in MVC on ASP.NET Core.</h3>
    <div class="buttons">
        <a href="/reactions" class="large-button-link">Send reactions</a>
        <a href="/listen" class="large-button-link">Listen to reactions</a>
    </div>
</section>