*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: background-color .4s ease-in-out;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

h1.yuuuge {
    font-size: 15em;
    margin: 0;
}

.text-box {
    background-color: rgba(255, 255, 255, .6);
    width: 50vw;
    min-height: 30vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.text-box .buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
}

.text-box button,
.text-box .large-button-link {
    text-decoration: none;
    background-color: #dedede;
    width: 40%;
    padding: 20px;
    display: block;
    text-align: center;
    color: #333;
    font-size: 1.3em;
    border: 1px solid #ccc;
}

.text-box .footer-text {
    margin-top: auto;
}

.text-box button.reactionButton {
    font-size: 5em;
    padding: 10px;
}